.container-list-home {
    font-family: "Montserrat", sans-serif;
    span.anticon.anticon-home {
        svg {
            margin-top: -10px;
            margin-right: 5px;
            font-size: 31px;
        }
    }
}
