.label-upload {
    background-color: #ccc;
    cursor: pointer;
    padding: 0 10px;
}

.preview-image {
    border: 1px solid #ddd;
    height: 50px;
    background: center no-repeat;
    background-size: contain;
    cursor: pointer;
}