.avatar-doctor {
    &-detail {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.name-doctor {
    font-family: "Montserrat" sans-serif;
    font-size: 27px;
}

.detail-doctor {
    background-color: #ddd;
    padding: 30px;
    margin-top: 20px;
}

.extra-infor {
    border-left: 1px solid #ccc;
}