@import "../../styles/common.scss";
.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: sticky;
    top: 0;
    left: 0;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    .languages {
        .language-en {
            cursor: pointer;
            margin-left: 10px;
            margin-right: 15px;
            opacity: 0.5;
            &.active {
                color: orange;
                opacity: 1;
            }
        }
        .language-vi {
            cursor: pointer;
            opacity: 0.5;
            &.active {
                color: #000;
                opacity: 1;
            }
        }
        .welcome {
            margin-right: 10px;
        }
    }
}
